
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/ChessNumbers.csproj.AssemblyReference.cache
obj/Debug/ChessNumbers.csproj.CoreCompileInputs.cache
obj/Debug/ChessNumbers.csproj.FileListAbsolute.txt
obj/Debug/ChessNumbers.exe
obj/Debug/ChessNumbers.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/ChessNumbers/v16/.suo
bin/Debug/ChessNumbers.exe
bin/Debug/ChessNumbers.exe.config
bin/Debug/ChessNumbers.pdb
